build_log
*.log
*.pyc
usr
opt
*.o
*.os
*.exe
packages
binaries
*.ipk
*~
build-stamp
cmake_tmp/
configure-stamp
debian/files
debian/*.install
debian/*.substvars
debian/*.debhelper
debian/tmp/
debian/libaul-1-dbg/
debian/libaul-1-dev/
debian/libaul-1-executable/
debian/libaul-1/
