[Unit]
Description=Start the Access Control server
After=dbus.service vconf-setup.service

[Service]
EnvironmentFile=/run/tizen-mobile-env
ExecStartPre=-/bin/mkdir /tmp/alaunch
ExecStartPre=/bin/chmod 1777 /tmp/alaunch
ExecStart=/usr/bin/amd
TimeoutStopSec=3s
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
