[Unit]
Description=Start the Access Control server
Requires=xorg.service tizen-generate-env.service
After=dbus.service vconf-setup.service xorg.service tizen-generate-env.service

[Service]
EnvironmentFile=/run/tizen-mobile-env
ExecStartPre=-/bin/mkdir /tmp/alaunch
ExecStartPre=/bin/chmod 1777 /tmp/alaunch
ExecStartPre=/usr/bin/chsmack -a "*" /tmp/alaunch
ExecStart=/usr/bin/amd

[Install]
WantedBy=multi-user.target
